{{ flash }}

<form method="post" action="/comments">
  <input type="hidden" name="authenticity_token" value="{{ authenticity_token }}"/>
  <input type="text" name="text"/>
  <button type="submit">Submit</button>
</form>
